boto3
gradio
dotenv
langchain_mcp_adapters
langchain_aws
fastmcp
dbt-core
sqlfluff-templater-dbt==3.3.0
sqlfluff==3.3.0
dbt-score==0.6.0
dbt-metricflow==0.10.1
dbt-spark[PyHive]
langfuse
langchain
pytest
pytest-asyncio
ragas
pytest-mock
ragas_experimental
fastembed
bs4
trafilatura
readability-lxml
lxml_html_clean
thrift_sasl
cffi