boto3
gradio
dotenv
langchain_mcp_adapters
langgraph
langchain_aws
fastmcp
dbt-core
sqlfluff-templater-dbt==3.3.0
sqlfluff==3.3.0
dbt-score==0.6.0
dbt-metricflow==0.8.2
dbt-spark[PyHive]
langfuse
langchain
pytest
pytest-asyncio
ragas